body{
  background-color: #FFF;
}

header.cells{
  background-color: #FFF;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backG{
  width: 100vw;
  height: calc(100vh - 77px);
  padding: 30px;
}
.backG h1{
  font-family: DM Sans;
  color: #232360;
  font-size: 30px;
  font-weight: 570;
}

.row{
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.search-container {
  position: relative;
  display: inline-block;
}

.search {
  font-family: DM Sans;
  background-color: #F3F7FA;
  padding: 13px 40px 13px 20px; 
  border-radius: 7px;
  border: transparent;
  font-size: 14px;
  color: #23235F;
}
.search::placeholder{
  font-family: DM Sans;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.icon img {
  width: 20px; 
  height: 20px; 
}


.new-folder{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #34D870;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);   
  border: none;
  cursor: pointer;
  gap: 15px;
  transition: 0.5s;
}
.new-folder p{
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 580;
  color: #FFF;
}
.new-folder:hover{
  background-color: #2BB35D;
  box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.5) inset;   
  transition: 0.5s;
}

.table-row{
  width: 100%;
  border-top: #E3EBEE 1px solid;
  border-bottom: #E3EBEE 1px solid;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.table-row h2, .table-row  p{
  font-family: DM Sans;
  font-size: 16px;
  font-weight: normal;
  color: #768396;
}

.table-l, .table-l-d, .table-r{
  min-width: max-content;
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.table-l{
  flex-direction: column;
  margin-right: 20px;
  gap: 15px;
}
.table-l h1{
  font-size: 24px;
}

.table-r{
  gap: 35px;
}

.table-r-l, .table-r-r{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.table-r-r{
  justify-content: flex-end;
  gap: 10px;
}

.table-r-l .btn{
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
  border: none;
  border-radius: 4px;
  background-color: #24374B;
  padding: 8px 10px;
  cursor: pointer;
}
.delete{
  height: 27px;
  width: 27px;
  cursor: pointer;
}
.delete:hover{
  opacity: 30%;
} 