body{
  background-color: #F3F4F8;
  padding-bottom: 20px;
}

header.cells{
  padding: 17px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.cells .inputCont{
  width: 290px;
  background-color: #F3F7FA;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

header.cells input[type="text"]{
  width: 100%;
  padding: 13px 0px 13px 20px;
  color: #23235F;
  font-size: 14px;
  font-weight: normal;
  border-radius: 7px;
  background-color: transparent;
  border: transparent;
}

header.cells input[type="text"]::placeholder{
  color: #23235F;
}
.search{
  height: 20px;
  width: auto;
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.snd-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 0px 10px;
  margin: 20px 0px;
  justify-content: space-between;
}

.snd-header h1{
  /* font-family: DM Sans; */
  color: #232360;
  font-weight: bold;
  font-size: 32;
}

.legends{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px 25px;
}

.legends h2{
  /* font-family: DM Sans; */
  color: #232360;
  font-weight: bold;
  font-size: 22px;
  margin-right: 45px;
}
.legends p{
  /* font-family: DM Sans; */
  color: #000;
  font-weight: bold;
  font-size: 20px;
  margin: 0px 25px;
}

.diff_add, .diff_chg, .diff_sub{
  position: relative;
  display: inline-block;
}

.diff_add::before, .diff_add::after, .diff_chg::before, .diff_chg::after, .diff_sub::before, .diff_sub::after{
  content: '';
  position: absolute;
  bottom: -8px; 
  border-style: solid;
}

.diff_add::before {
  border-width: 0 29px 10px 29px;
  left: -29px;
  border-color: transparent #26f052 transparent transparent; 
}
.diff_add::after {
  border-width: 0 29px 10px 29px;
  left: 29px;
  border-color: transparent transparent transparent #1db33d;
}

.diff_chg::before {
  border-width: 0 39px 10px 39px;
  bottom: -10px; 
  left: -39px;
  border-color: transparent #FFF500 transparent transparent; 
}
.diff_chg::after {
  border-width: 0 39px 10px 39px;
  bottom: -10px; 
  left: 39px;
  border-color: transparent transparent transparent #DED600;
}

.diff_sub::before {
  border-width: 0 32px 10px 32px;
  left: -32px;
  border-color: transparent #FF2D2D transparent transparent; 
}
.diff_sub::after {
  border-width: 0 32px 10px 32px;
  left: 32px;
    border-color: transparent transparent transparent #CF2525;
}


.emb{
  width: 90%;
  height: 600px;
}

table.legends {
  background-color: white;
  
  border: 1px solid black; 
  border-collapse: collapse;
  margin: 20px;
}
table.legends th, table.legends td {
  padding: 3px 8px;
  text-align: center;
  border: 1px solid black;
}
table.legends th {
  background-color: rgb(214, 214, 214);
}